@model Vidly.ViewModels.AddMovieViewModel

@{
    ViewBag.Title = "NewMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NewMovie</h2>


@using (Html.BeginForm("SaveMovie", "Movie"))
{
    <div>
        @Html.LabelFor(m => m.Movie.Name)
        @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.Movie.ReleaseDate)
        @Html.TextBoxFor(m => m.Movie.ReleaseDate, "{0:d mmm yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.ReleaseDate)
    </div>

    <br />
    <div>
        @Html.LabelFor(m => m.Movie.GenreType_Id)
        @Html.DropDownListFor(m => m.Movie.GenreType_Id, new SelectList(Model.GenreTypes, "Id", "Name"), "Select Genre Type", new { @class = "form-control" })
    </div>
    <br />
    <div>
        @Html.LabelFor(m => m.Movie.InStock)
        @Html.TextBoxFor(m => m.Movie.InStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.InStock)
    </div>
    @Html.HiddenFor(m => m.Movie.Id)
    @Html.AntiForgeryToken()
    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}
